.App-dark .item-card-container {
  height: auto;
  width: 88rem;

  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.App-light .item-card-container {
  height: auto;
  width: 88rem;

  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
