.App-dark .main-body-container {
  height: 100vh;
  width: 100vw;
  background: rgb(19, 19, 19);
  background: linear-gradient(
    to bottom,
    rgba(19, 19, 19, 1) 0%,
    rgb(39, 39, 39) 100%
  );
}
.App-light .main-body-container {
  height: 100vh;
  width: 100vw;

  background: rgb(240, 240, 240);
  background: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 1) 0%,
    rgba(158, 158, 158, 1) 100%
  );
}
